<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/myStyle.css">
    <link rel="stylesheet" href="../public/login.css">


    <title>Edit Profile</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Logo" width="45px"
                            style="margin: 0 15px; border-radius:10px;"></a>
                    <li class="nav-item dropdown">
                        <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Movie
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link" href="/movie/now-showing">Now-Showing</a>
                            <a class="nav-link" href="/movie/coming-soon">Coming-Soon</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/movie/theaters">Theaters</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/movie/snack">Snack</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/movie/event">Event</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/movie/gift-card">Gift-Card</a>
                    </li>
                    <div class="div-nav">
                        <li class="nav-item dropdown">
                            <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img class="img-nav" src="../../{{customer.img.path}}">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link" href="/customer/profile"> Profile</a>
                                <a class="nav-link" href="/logout">Logout</a>
                            </div>
                            <a href="/login">Login</a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
        <div class="row" style="margin-top: 20px;">
            <div class="col-3">
                <a href="profile">Profile</a> <br>
                <a href="editProfile">Account Detail</a><br>
                <a href="viewPoint"> Point</a><br>
                <a href="history">History</a>
            </div>
            <div class="col-md-5 login-form-1" style="padding: 2px 60px 10px;">
                <form action="updateProfile" enctype="multipart/form-data" method="POST">
                    <input type="hidden" name="txtId" value="{{customer._id}}">
                    <div class="form-group">
                        Name <input class="form-control" type="text" name="txtName" value="{{customer.name}}">
                    </div>
                    <div class="form-group">
                        Email <input class="form-control" type="email" name="txtEmail" value="{{customer.email}}">
                    </div>
                    <div class="form-group">
                        Address <input class="form-control" type="text" name="txtAddress" value="{{customer.address}}">
                    </div>
                    <div class="form-group">
                        Phone <input class="form-control" type="text" name="txtPhone" value="{{customer.phoneNumber}}">
                    </div>
                    <div class="form-group">
                        Age <input class="form-control" type="text" name="txtAge" value="{{customer.age}}">
                    </div>
                    <div class="form-group">
                        Point <input class="form-control" type="text" name="txtPoint" value="{{customer.point}}">
                    </div>
                    <div class="form-group">
                        Img <input class="form-control" type="file" name="myFile">
                    </div>
                    <input type="submit" class="btnSubmit" value="Change">
                </form>
            </div>
        </div>
        <footer class="footer">
            <div class="i-footer">
                <div class="row">
                    <div class="col-2">
                        <span style="font-weight: bold;">Terms and Conditions</span> <br>
                        Conditions of Website <br>
                        UseTerms of UsePayment <br>
                        PolicyPrivacy <br>
                        PolicyF.A.Q <br>
                    </div>
                    <div class="col-2">
                        <span style="font-weight: bold;">Customer Service</span> <br>
                        Hotline: 1900 6017
                        Working hours: 8:00 - 22:00 (Monday to Sunday, including Public Holidays)
                        Email support: hoidap@cgv.vn
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-2">
                        <img src="/images/tải xuống (4).jpeg" alt="" width="200px" height="100px"
                            style="border-radius: 20px;"><br> <br>
                        <img src="/images/abcsd.png" alt="" width="200px" height="100px" style="border-radius: 20px;">
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-4">
                        <span style="font-weight: bold;">COMPANY CJ HPH VIETNAM</span> <br>
                        Business registration certificate: 0303675393, registered for the first time on 31/7/2008,
                        registered for the fifth change on 14/10/2015, issued by HCMC Department of Planning and
                        Investment.Address: Floor 2, Rivera Park Saigon - No. 7/28 Thanh Thai street, Ward 14, District
                        10, HCMC.Hotline: 1900 6017COPYRIGHT 2017 CJ CGV. All RIGHTS RESERVED .
                    </div>
                </div>
            </div>
    </div>
    </footer>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>